@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ZTMoto';
  src: url('/fonts/zt-moto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: var(--font-poppins), sans-serif;
  @apply bg-brand
}

#main-content {
  transition: opacity 0.3s ease-in-out;
}


